body
{
    font-family: 'Arial', sans-serif;
    font-size: 16px;

    margin: 0;
}

*,
*:after,
*:before
{
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* Header */
.header_inner
{
	display: flex;
    width: 100%;
    height: 50px;
    margin: 0 auto;

    color: #fff;
    background: #c70032;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

#selectCAB {
	width: 186px;
	outline: none;

	margin-left: 10px;
}

.cabinettext {
	margin-bottom: 0px;
	margin-left: 10px;
}

#cabimg {
    margin-top: 10px;
    width: 890px;
    height: 480px;
}